body {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    --activityWidth: 350px;
    --fontColour: #123456;
}

#activityGrid {
    height: auto;
    width: max-content;

    display: grid;
    grid-template-columns: repeat(1, var(--activityWidth)); /*Grid columns are calculated in JS, HOWEVER THIS SPECIFIC PROPERTY DOES NOT SEEM TO GET UPDATED*/
    gap: 50px;
    
    place-items: center;
    margin: 0 auto;
}
.activity {
    height: 400px;
    width: 100%;

    background-color: rgb(225, 225, 225);
    border-radius: 20px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto 20px;
}
.activity:hover {
    background-color: rgb(190, 190, 190);
}
.activityTitle {
    color: var(--fontColour);
}

#popup {
    height: 100vh;
    width: 100%;

    position: fixed;
    bottom: -100vh;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;

    /*background-color: #00000050;*/
    transition: 500ms;
}
#popupContent {
    height: 100%;
    width: 100%;
    padding: 5px;

    background-color: rgb(245, 245, 245);
    box-shadow: 150px 150px 150px 150px #888888;
    border-radius: 15px;
}
.popupButton {
    height: 100px;
    width: 90%;
    margin-bottom: 50px;

    background-color: var(--fontColour);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: x-large;
    font-weight: 500;
}