header {
    height: max-content;
    padding: 10px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    gap: 20px;
    place-items: center;

    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(190, 190, 190);
}

.headerButton {
    height: 40px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;

    color: inherit;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    border: none;
    font-size: 1.4rem !important;

    transition: 100ms;
}
.headerButton:active {
    background-color: rgb(190, 190, 190);
}